body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inner-shadow-primary {
  box-shadow: inset #543310 17px 22px 17px -5px;
}

.inner-shadow-neutral {
  box-shadow: inset #af8f6f 17px 22px 17px -15px;
}

.inner-shadow-accent {
  box-shadow: inset #2b1a08 0px 0px 60px -12px;
}

.text-shadow-lg {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.inner-text-shadow-lg {
  text-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
}
